spring:
  application:
    name: financetracker


  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/financetracker
    username: postgres
    password: 4500
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false


  threads:
    virtual:
      enabled: true

server:
  port: 8080

application:
  security:
    jwt:
      secret-key: 3f8b2c9d7e4a1f6b0c5d8e2a9b4f7c1d3e6a0b5c8f2d7e4a1b6c9d0e3f8b2c
      expiration: 86400000