spring:
  application:
    name: financetracker

  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/financetracker
    username: postgres
    password: 4500
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  threads:
    virtual:
      enabled: true

server:
  port: 8080